.dark-Mode{
    background-color: darken($grisOscuro,10);
    p, blockquote{
        color: $blanco;
    }
    a,h1,h2,h3,h4,h5{
        color: $gris;
    }

    .anuncio, .resumen-propiedad{
        background-color: $grisOscuro;
        border: solid $grisOscuro;
        .precio{
            color: $verde;
        }
        .icono{
            filter: invert(100%);
        }
    }

    .formulario{
        label, legend, p{
            color: $gris;
        }
        input:not([type="submit"]), textarea, select{
            background-color: $grisOscuro;
            color: $blanco;
            border: 1px solid $grisOscuro;
        }
    }

    table{
        th, td{
            color: $blanco;
        }
    }

    text, .xdebug-var-dump{
        color: $blanco;
    }
    
}